.app {
  display: flex;
  justify-content: space-evenly;
}

.todo_form {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.button {
  width: 142px;
}

.header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.todo_list {
  width: 400px;
}
.list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.span_item {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
